@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
  background-color: #01163d;
  color: white;
  height: 150vh;
}

header{
  display: flex;
  height: 5%;
}
.login{
    flex-direction: row;
    display: flex;
    height: 100%;
}
.cadastro{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro a{
    display: none;
    justify-self: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
    margin-top: 3%;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    height: 80%;
}

h2{
    align-self: center;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    margin: 0;
}

.campo{
    font-weight: 700;
    font-size: 20px;
    align-items: flex-start;
    font-family: 'Manrope', sans-serif;
    height: 75px;
    white-space: pre-line;
    display: block;
    width: 80%;
    justify-self: center;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: #4c6977, solid, 1px;
    background-color: #1C2C46;
}

.botao{
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
    width: 80%;
    height: 54px;
    border-radius: 15px;
    background-color: #EAEAEA;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
}
.formulario button:hover{
    background-color: rgb(159, 159, 159);
    transform: scale(1.05);
}
.effect-text{
    display: flex;
    background-image: url(../assets/img_cadastro_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.effect-text h2{
    justify-self: center;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
}

.effect-text .logo{
    display: flex;
    justify-self: center;
    height: 250px;
    width: 50%;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img{
    width: 300px;
}

.effect-text p{
    justify-self: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}



.effect-text a{
    display: flex;
    justify-self: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
    margin-top: 3%;
}

.effect-text a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

@media screen and (max-width: 800px){
header {
display: flex;
max-width: 100%;
height: 70px;
flex-direction: row;
/* justify-content: space-between; */
justify-content: center;
gap: 80px;
/* padding-left: 20px;
padding-right: 80px; */

font-size: 16px;
}

header .nav, header .nav2 {
text-align: center;
align-items: center;
margin: 0;
}

header .nav {
display: flex;
max-width: 200px;
width: 400px;
flex-direction: row;
justify-content: space-around;
gap: 40px;

margin: 0px;
}

header .nav2 {
width: 100%;
max-width: 100px;
margin-right: 20px;
}
.login{
    margin: 0;
}
.cadastro{
    width: 100%;
}
.cadastro a{
    display: flex;
}
.cadastro button{
    height: 100px;
    font-size: 16px;
}
.effect-text{
    width: 100%;
    display: none;
}

footer {
display: flex;
flex-direction: column;
}

.footer {
order: 3;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
gap: 40px;
}

.footer p {
max-width: 50%;
}

.footer img {
width: 30%;
}

footer hr {
order: 2;
min-height: 0px;
width: 90%;
margin: 20px;
}

.sociais {
order: 1;
width: 80%;
}

.sociais-img {
width: 60%;
}


}