@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.login{
    flex-direction: row;
    display: flex;
    height: 130vh;
}
body{
  background-color: #01163d;
  color: white;
}
.cadastro{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    height: 80%;
}

h2{
    align-self: center;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 48px;
}

.campo{
    font-weight: 700;
    font-size: 20px;
    align-items: flex-start;
    font-family: 'Manrope', sans-serif;
    height: 75px;
    white-space: pre-line;
    display: block;
    width: 80%;
    justify-self: center;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: #4c6977, solid, 1px;
    background-color: #1C2C46;
}

.botao{
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
    width: 80%;
    height: 54px;
    border-radius: 15px;
    background-color: #EAEAEA;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.effect-text{
    display: flex;
    background-image: url(../assets/img_cadastro_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.effect-text h2{
    justify-self: center;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
}

.effect-text .logo{
    display: flex;
    justify-self: center;
    height: 250px;
    width: 50%;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img{
    width: 300px;
}

.effect-text p{
    justify-self: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.effect-text span{
    display: flex;
    justify-self: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

.effect-text a{
    text-decoration: none;
    color: white;
}