#canvas-1 {
    cursor: pointer;
}

#modal_ram {
    background-color: rgba(0, 0, 0, 0.503);
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-modal-ram {
    background-color: #0B2553;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-monitor-ram {
    color: white;
    margin: 10px;
}

/* fechar */
.div-fechar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fechar {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: 5px 10px 0 20px;
}

/* box servidor atual */
.conteudo-dash {
    display: flex;
    width: 80%;
    height: 80vh;
    flex-direction: column;
    gap: 5%;
}

.kpi-dash {
    display: grid;
    grid-template-columns: 250px 287px 287px;
    gap: 20px;
    justify-content: start;
}

.kpi-servidor,
.kpi-grafico {
    background: #082967;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 130px;
}

.kpi-servidor {
    width: 220px;
    gap: 15%;
}

.kpi-servidor img {
    width: 80px;
    padding: 0 0 0 12px;
}

.titulo-servidor {
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.kpi-coleta {
    width: 260px;
    flex-direction: column;
    background: #082967;
    border-radius: 10px;
    display: flex;
    height: 130px;
}

.titulo-coleta {
    font-size: 11px;
    height: 30px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.valor-kpi-coleta,
.kpi-detecta {
    flex-direction: column;
    display: flex;
    color: white;
}

.valor-kpi-coleta {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-detecta {
    padding: 12px;
}

.kpi-detecta p {
    font-size: 13px;
}

.valor-kpi-coleta p {
    font-size: 12px;
}

.badge-atencao {
    color: #F3A523;
    background-color: #F3A52350;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 11px;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    width: fit-content;
}

/* GRÁFICO USO DE MEMÓRIA */
.alerta-grafico {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
}

.grafico-monitoramento {
    background: #082967;
    width: 50%;
    height: 230px;
    border-radius: 10px;
}

.alertas-ram {
    background: #082967;
    width: 50%;
    height: 340px;
    border-radius: 10px;
}

.kpi-grafico {
    background: #082967;
    border-radius: 10px;
    width: 390px;
    height: 130px;
    display: flex;
    padding: 15px;
}

.info-memoria {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.info-memoria h3 {
    margin: 0;
    font-size: 12px;
}

.percentual-ram {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legenda-ram {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}

.legenda-ram div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cor-uso,
.cor-livre {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cor-uso {
    background: #8AC3FF;
}

.cor-livre {
    background: white;
}

.grafico-memoria {
    width: 120px;
    height: 120px;
}

#monitoramentoRam {
    color: white;
}