body{
  display: flex;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 700vh;
  flex-direction: column;
}
header{
  display: flex;
  width: 100%;
  height: 1%;
  background-color: #00375D;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
.nav{
  display: flex;
  margin-left: 3%;
  width: 30%;
  justify-content: space-around;
}
.nav2{
  display: flex;
  margin-right: 5%;
  width: 15%;
  justify-content: space-around;
  align-items: center;
}
header a{
  color: white;
  text-decoration: none;
}
#home{
  display: flex;
  height: 32%;
}
#funcionalidades{
  display: flex;
  height: 32%;
}
#pilares{
  display: flex;
  height: 32%;
}
footer{
  display: flex;
  width: 100%;
  height: 4%;
  background-color: #00375D;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  align-items: center;
}
.footer{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.footer img{
  width: 20%;
}
hr{
  height: 80%;
}
.sociais{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.sociais-img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.sociais img{
  width: 20%;
}