@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

header{
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #00375D;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
.nav{
  display: flex;
  margin-left: 3%;
  width: 30%;
  justify-content: space-evenly;
}
.nav2{
  display: flex;
  margin-right: 5%;
  width: 15%;
  justify-content: space-around;
  align-items: center;
}
header a{
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
footer{
  display: flex;
  width: 100%;
  min-height: 180px;
  background-color: #00375D;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.footer{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.footer img{
  width: 10%;
}
hr{
  min-height: 130px;
}
.sociais{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.sociais-img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.sociais img{
  width: 20%;
}

.login {
    width: 100%;
    height: 80%;
    display: flex;
}

.containers {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
    background-image: url(../assets/fundo-login1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardsLogin {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardsLogin h2 {
    font-family: "Poppins";
}

.card-login1 {
    background-color: #01163D;
}

.card-login1 hr {
    width: 600px;
    border: none;
    height: 1px;
    background: #ffffff8a; 
    border-radius: 10px;
}

.card-login1 h2 {
    align-self: center;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    margin: 0;
}

.card-login1 span {
    font-family: "Manrope";
    font-size: 26px;
    font-weight: 500;
}

.card-login1 button {
    font-family: "Work Sans";
    font-weight: 500;
    border-radius: 8px;
    width: 100%;
    font-size: 32px;
    cursor: pointer;
    padding: 4px;

    transition: all 0.5s ease;
}

.card-login1 button:hover {
    background-color: rgb(159, 159, 159);
    transform: scale(1.05);
}

.card-login1 button:focus {
    outline: none;
    background-color: rgb(159, 159, 159);
    transform: scale(1.05);
}

.card-login1 .formulario {
    display: flex;
    max-width: 650px;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    margin-bottom: 40px;
}

.formulario .campo {
    max-width: 100%;
}

.formulario .campo input {
    font-size: 18px;
    width: 500px;
    height: 36px;
    padding: 6px;
    font-family: "Manrope";
    justify-content: center;
    border-radius: 12px;
    background-color: #1c2c4688;
    border: 1px solid #4C6977;
    color: white;

    transition: all 0.5s ease;
}

.formulario .campo input:focus {
    outline: none;
    background-color: #34518188;
    transform: scale(1.02);
}

.formulario .campo input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.card-login2 {
    display: flex;
    height: 100%;
    background-color: #022246a5;
}

.card-login2 h2 {
    align-self: center;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    margin: 0;
}

.card-login2 p {
    font-size: 28px;
    font-weight: bold;
    font-family: "Poppins";
    max-width: 500px;
    text-align: center;
    margin: 8px;
}

.card-login2 a {
    color: white;
    text-decoration: none;
    font-family: "Sora";
    transition: all 0.8s ease;
    margin-top: 3%;
}

.card-login2 a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.card-login2 a:focus {
    outline: none;
    transform: scale(1.1);
    text-decoration: underline;
}